<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<springProperty scope="context" name="springAppName" source="spring.application.name"/>
	<property name="USER_HOME" value="D:\\JPOP_Practice\\logs" />
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				[%d] %-5level [${springAppName},%X{X-B3-TraceId},%X{X-B3-SpanId},%X{X-B3-ParentSpanId},%X{X-Span-Export}][%thread] %logger{0}: %msg%n
			</Pattern>
		</layout>
	</appender>
	
	<appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${USER_HOME}\userservice.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d %-5level [${springAppName},%X{X-B3-TraceId},%X{X-B3-SpanId},%X{X-B3-ParentSpanId},%X{X-Span-Export}][%thread] %logger{0}: %msg%n
			</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>D:\\JPOP_Practice\\logs\\userservice-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>30KB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
	
	<root level="info">
		<appender-ref ref ="STDOUT"/>
		<appender-ref ref ="RollingFile"/>
	</root>

</configuration>